@font-face {
  font-family: "avenir-lt-pro";
  src: local("avenir-lt-pro"),
    url(./fonts/avenir-lt-pro-cufonfonts/AvenirLTProBlack.otf)
      format("opentype");
}

@font-face {
  font-family: "avenir-lt-pro";
  font-weight: lighter;
  src: local("Lato"),
    url(./fonts/avenir-lt-pro-cufonfonts/AvenirLTProLight.otf)
      format("opentype");
}

@font-face {
  font-family: "avenir-lt-pro";
  font-weight: medium;
  src: local("Lato"),
    url(./fonts/avenir-lt-pro-cufonfonts/AvenirLTProMedium.otf)
      format("opentype");
}

.App {
  margin: 0;
  padding: 0;
  font-family: avenir-lt-pro;
}

/* Dashboard */

.dashboard-page {
  height: 100%;
  text-align: center;
  margin: 13rem 20rem;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-page h1 {
  margin-bottom: 5rem;
  line-height: 3rem;
}

/* QuestionPage */

.question-page {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding-top: 3rem;
}

.question-box {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  border: solid;
  padding: 2rem;
}

.answer-boxes {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.answer-box {
  border: solid 1px;
  height: 3rem;
  width: 50rem;
  padding: 0.8rem;
  margin-bottom: 0.5rem;
}

.question-page-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

body {
  margin: 0px !important;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
