@font-face {
  font-family: "avenir-lt-pro";
  src: local("avenir-lt-pro"),
    url(./fonts/avenir-lt-pro-cufonfonts/AvenirLTProBlack.otf)
      format("opentype");
}

@font-face {
  font-family: "avenir-lt-pro";
  font-weight: lighter;
  src: local("Lato"),
    url(./fonts/avenir-lt-pro-cufonfonts/AvenirLTProLight.otf)
      format("opentype");
}

@font-face {
  font-family: "avenir-lt-pro";
  font-weight: medium;
  src: local("Lato"),
    url(./fonts/avenir-lt-pro-cufonfonts/AvenirLTProMedium.otf)
      format("opentype");
}

.App {
  margin: 0;
  padding: 0;
  font-family: avenir-lt-pro;
}
